html, body{
    height: 100%;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Titillium Web;
}

#head {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: green;
    text-align: center;
}

#time-display {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bolder;
}

#play-game {
    margin: auto;
    display: block;
}
#question{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: burlywood;
}
.answer {
    margin: auto;
    display: flex;
    justify-content: center;

}

.show-results{
    text-align: center;
    font-size: 2rem;
}